*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --bg-color:#981a26;
    
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: darkcyan;
    border: 2px solid black;
    background-color: var(--bg-color);
}

.box{
    background-color: chartreuse;
    border: 2px solid black;
    color: var(--bg-color);
    transition: color 2s ease 1s;
    height: 150px;
    width:150px;
}

.box:hover{
    
    background-color: hotpink;
   color: aqua;
    /* transform:scale(1.5) translateX(500px) rotate(360deg); */
}







